<link rel="stylesheet" href="./story-item.scss">

<div class="story-item">
	<div class="story-top">
		{{> ../story-info/story-info }}
		{{> ../story-source/story-source }}
	</div>

	<div class="story-component">{{{rendered}}}</div>
</div>

