<link rel="stylesheet" href="./header.scss">

<nav data-component="header" class="navbar navbar-expand sticky-top navbar-dark">
  <div class="container">
    <a class="navbar-brand text-primary" href="#top">Muban</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#dynamic-data">Dynamic Data</a>
        <a class="nav-item nav-link" href="#vision">Vision</a>
        <a class="nav-item nav-link" href="#workflow">Workflow</a>
        <a class="nav-item nav-link" href="#storybook">Storybook</a>
      </div>
    </div>
  </div>
</nav>
