html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

@media (min-width: 600px) {
  a {
    color: red;
  }
}
@media (max-width: 700px) {
  a {
    color: green;
  }
}

@media (min-width: 1200px) {
  a {
    color: blue;
  }
}
@media (max-width: 1100px) {
  a {
    color: purple;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  a {
    color: pink;
  }
}
@media (min-width: 900px) and (max-width: 1050px) {
  a {
    color: yellow;
  }
}

#app {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.settings {
  display: none;
  top: 60px;
  position: relative;
  background-color: #fafafa;

  .device-emulator & {
    display: block;
  }

  .generic {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #ddd;

    .current-size {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      line-height: 16px;
      font-size: 12px;
      color: #666;
      top: 2px;
    }

    .size {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      height: 16px;
      border: 2px solid #f2f2f2;
      font-size: 0;
      line-height: 16px;
      text-align: center;
      color: #666;
      cursor: pointer;

      &.mobile-s {
        width: 320px;
      }
      &.mobile-m {
        width: 375px;
      }
      &.mobile-l {
        width: 425px;
      }
      &.tablet {
        width: 768px;
      }
      &.laptop {
        width: 1024px;
      }
      &.laptop-l {
        width: 1440px;
      }
      &.fourk {
        width: 2560px;
      }

      &:hover {
        background-color: #ccc;
        font-size: 12px;
        //z-index: 1;
      }
    }
  }

  .max-width,
  .min-max-width,
  .min-width {
    position: relative;
    height: 16px;
    width: 100%;

    .bar {
      position: absolute;
      top: 2px;
      height: 12px;
      //border: 2px solid #f2f2f2;
      //font-size: 0;
      line-height: 16px;
      color: #666;
      cursor: pointer;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      box-sizing: border-box;

      &:hover {
        height: 16px;
        top: 0;

        .label {
          display: block;
        }
      }

      .label {
        display: none;
        line-height: 16px;
        font-size: 12px;
        color: #333;
        top: 2px;
        padding: 0 4px;
        pointer-events: none;
      }
    }
  }

  .max-width {
    .bar {
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #e3f5ff;
      border-left-color: #48a6f3;
      border-right-color: #48a6f3;

      &:hover,
      &.active {
        background-color: #92cbf8;
      }

      .label {
        &.left {
          float: left;
        }

        &.right {
          float: right;
        }
      }
    }
  }

  .min-max-width {
    .bar {
      background-color: #eaf6eb;
      border-left-color: #6a9d3f;
      border-right-color: #6a9d3f;

      &:hover,
      &.active {
        background-color: #c4e0a5;
      }
      &:hover {
        z-index: 1;
      }

      .label {
        position: absolute;
        padding: 0;
        top: 0;

        &.left {
          right: calc(100% + 6px);
        }

        &.right {
          left: calc(100% + 6px);
        }
      }
    }
  }

  .min-width {
    .bar {
      background-color: #fff4e2;
      border-left-color: #f37a22;
      border-right-color: #f37a22;

      &:hover,
      &.active {
        background-color: #fecb84;
      }

      &.left {
        .label {
          float: right;
        }
      }
    }
  }
}

.content {
  position: absolute;
  font-size: 0;
  top: 50px;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);

  .device-emulator & {
    top: 150px;
    bottom: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.14);

    .resizer {
      display: block;
    }
  }

  .resizer {
    display: none;
    position: absolute;
    width: 13px;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: col-resize;
    user-select: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.before {
      left: -12px;
    }
    &.after {
      right: -12px;
    }

    &:after {
      position: absolute;
      content: '|||';
      height: 14px;
      top: 50%;
      left: 3px;
      color: rgba(0, 0, 0, 0.25);
      width: 12px;
      font-size: 10px;
    }
  }

  &.single-story {
    bottom: 368px;
  }

  .story-frame {
    //margin-top: 20px;
    width: 100%;
    height: 100%;
  }

  .blocker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    display: none;
  }

  &.resizing {
    .blocker {
      display: block;
    }
  }
}

.story-panel {
  background-color: white;
  border-top: 1px solid #eee;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  min-height: 355px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #607d8b;

  .story-info {
    flex: 4;

    .path {
      margin-top: 15px;
    }
  }

  .story-source {
    flex: 6;
    width: 200px;
    margin-top: 20px;
    padding: 20px;

    pre {
      height: 235px;
      min-height: 235px;
    }
  }
}
