[data-component='tabs'] {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  position: relative;
  top: 1px;
  z-index: 1;
  display: flex;
  flex-direction: row;

  li {
    font-size: 16px;
    flex-shrink: 1;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid #ddd;
    background-color: #eee;
    text-align: center;
    overflow-x: hidden;

    &.selected {
      font-weight: bold;
      background-color: #f8f8f8;
      border-color: #eee;
      border-bottom-color: #f8f8f8;
    }
  }
}

.tab-content {
  margin-top: 0;
}
