<link rel="stylesheet" href="./paragraph.scss">
<script src="./Paragraph.ts"></script>

<div class="component-paragraph" data-component="paragraph">
  <h2>{{title}}</h2>

  <p>{{{content}}}</p>

  <p class="js-content-more hidden">{{{contentMore}}}</p>

  {{> general/button text="read more..." }}
</div>
