/* stylelint-disable-next-line block-no-empty */
[data-component="future"] {
  background-color: darken($gray-800, 4);
  color: $gray-400;
  padding: 3em 0;

  h2 {
    font-weight: 200;
    margin-bottom: 20px;
  }

  p, ol {
    font-weight: 200;
  }

  li {
    padding-bottom: 10px;
  }

  .row + h2 {
    padding-top: 20px;
  }
}
