[data-component="icon"] {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;

  svg {
    height: 100%;
    width: 100%;
    display: block;
    fill: currentColor;
  }
}
