<link rel="stylesheet" href="./style/main.scss">
{#
	App shell for all pages, used for rendering header/footer and dynamic page content
#}

{% include './component/header' %}

<div class="wrapper">
	<h1>{{ title }}</h1>

	<div class="content">
		{% for block in blocks %}
			{% include block.name with block.data %}
		{% endfor %}
	</div>
</div>

{% include './component/footer' %}
