// Correctly set `seng-scss` assetPath
$pathAsset: "~app";

// Fonts
$baseFont: Arial, sans-serif;

// Z-Index
$zLayout: default;

// Colors
$colorPrimaryTheme: #ff6e3f;
$colorDev: #ff6e3f;
$colorQA: #ff6e3f;
$colorFeedback: #ff6e3f;
$colorDone: #ff6e3f;

$assetRoot: '/etc.clientlibs/project-name/clientlibs/clientlibs-site/resources/';

@import '../../data/shared-variable/media-queries.json';
