// Correctly set `seng-scss` assetPath
$pathAsset: '~app';

// Fonts
$fontArial: Arial, sans-serif;

// Z-Index
$zLayout: default;

// Sizes
$wrapperWidth: 960px;

@import '../../data/variables/media-queries.json';
