// Correctly set `seng-scss` assetPath
$pathAsset: '~app';

// Fonts
$baseFont: Arial, sans-serif;

// Z-Index
$zLayout: default;

// Colors
$colorPrimaryTheme: #ff6e3f;

@import '../../data/shared-variable/media-queries.json';
