// Correctly set `seng-scss` assetPath
$pathAsset: '~app';

// Fonts
$baseFont: Arial, sans-serif;

// Z-Index
$zIndex: default, middle, top;

// Colors
$colorPrimaryTheme: #ff6e3f;

// Media queries
$mediaQueries: (SMALL : '(max-width: 767px)');
