<link rel="stylesheet" href="./index.scss">
<script src="./Index.ts"></script>

{{!
  Index with all rendered pages for easy access
}}

<div data-component="index-root">
  <div class="wrapper content">
    <h1>Page overview</h1>
    <p>This page contains an overview of all the different pages or variations of blocks.</p>

    {{#if date }}<p class="build-date">This version was built at <b>{{date}}</b></p>{{/if}}

    <h2>
      Pages
      {{#if pages }}
      <button class="action toggle-blocks">show blocks</button>
      <!--<button class="action sort-status">sort by status</button>-->
      {{/if}}
    </h2>
    {{#if showCategories }}
      {{#each categories}}
        <h3>{{name}}</h3>
        {{> './pages'}}
      {{/each}}
    {{else}}
      {{> './pages'}}
    {{/if}}
  </div>

  <footer>
    <div class="color"></div>
    <div class="wrapper">
      <div class="about">
        <h4>About</h4>
        <p>
          The info above is extracted from the <code>page.yaml/json</code> files.
          By adding a <code>meta</code> object with the fields shown here, you can supply
          additional information about the page.
        </p>
        <p>
          Blocks are the components/modules that build op the page.
        </p>
      </div>
      <div class="legend">
        <h4>Status</h4>
        <p class="dev">in development</p>
        <p class="qa">ready for qa</p>
        <p class="feedback">work on feedback</p>
        <p class="done">completed</p>
      </div>
      <div class="info">
        <h4>Page data <code>meta</code> fields</h4>
        <div class="table">
          <div class="row">
            <div><code>id</code></div>
            <div>component id, to identify and sort</div>
          </div>
          <div class="row">
            <div><code>status</code></div>
            <div>any of the 4 colored options, to track progress</div>
          </div>
          <div class="row">
            <div><code>category</code></div>
            <div>to add some grouping, e.g. by type, sprint, etc</div>
          </div>
          <div class="row">
            <div><code>notes</code></div>
            <div>additional info, about the page or its status</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
