html.index {
  height: 100%;
  font-size: 10px !important;
  -webkit-font-smoothing: antialiased;

  body {
    height: 100%;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
      sans-serif !important;
    color: #102950 !important;
    background-color: #f8f8f8 !important;

    #app {
      height: 100%;
    }
  }
}

@mixin status-hover($color) {
  border-bottom-color: rgba($color, 0);

  &:hover {
    border-bottom-color: rgba($color, 1);
  }
}

$colorDev: #b4b4b4;
$colorQA: #1e90ff;
$colorFeedback: #dc4832;
$colorDone: #0eb415;

[data-component='index-root'] {
  height: 100%;

  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .content {
    min-height: calc(100% - 206px);
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: 800px) {
      min-height: auto;
      margin-bottom: 100px !important;
    }
  }

  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 4rem;
    margin: 0.5rem 0;
  }

  .action {
    float: right;
    padding: 10px 14px;
    margin-left: 5px;
    font-size: 1.6rem;
    color: #666;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #e8e8e8;
    }
  }

  h2 {
    font-size: 3rem;
    margin: 4rem 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid #eee;
  }

  h3 {
    font-size: 2rem;
    margin: 2rem 0 1rem;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }

  p,
  ul {
    font-size: 1.8rem;
  }

  ul {
    list-style-type: none;
  }

  .build-date {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .id {
    position: absolute;
    right: calc(100% + 12px);
    text-align: right;
    white-space: nowrap;
    font-size: 1rem;
    font-variant: small-caps;
  }

  .blocks {
    display: none;
    font-size: 1.2rem;
    margin: 3px 15px;

    li {
      margin: 2px 0;
    }
  }

  .no-pages {
    p {
      padding: 10px 0;
    }

    code {
      color: dodgerblue;
    }
  }

  .page {
    position: relative;
    left: -12px;
    padding: 0px 7px;
    margin: 15px 0 0;
    border-left: 4px solid rgba(#000, 0);

    &.alt {
      margin-top: 4px;

      .id {
        display: none;
      }
    }

    &.status-dev {
      border-left-color: $colorDev;
    }
    &.status-qa {
      border-left-color: $colorQA;
    }
    &.status-feedback {
      border-left-color: $colorFeedback;
    }
    &.status-done {
      border-left-color: $colorDone;
    }

    &.show-blocks {
      .blocks {
        display: block;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(#1e90ff, 0);
    transition: border-bottom-color 0.2s;
    font-weight: 200;

    &:hover {
      border-bottom-color: rgba($colorQA, 1);
    }
  }

  sup {
    margin-left: 5px;
    opacity: 0.7;
    cursor: pointer;
    font-size: 1rem;
    font-variant: small-caps;
  }

  .notes {
    font-style: italic;
    opacity: 0.4;
    font-size: 1.6rem;
    font-weight: 200;
    padding-left: 10px;
    //display: block;

    @media (max-width: 640px) {
      display: block;
    }
  }

  .status-dev {
    opacity: 0.5;

    a {
      @include status-hover($colorDev);
    }
  }

  .status-qa {
    a {
      @include status-hover($colorQA);
    }
  }

  .status-feedback {
    a {
      @include status-hover($colorFeedback);
    }
  }

  .status-done {
    a {
      font-weight: 500;

      @include status-hover($colorDone);
    }
  }

  @import 'index-footer';
}
