<link rel="stylesheet" href="./app.scss">

{{!
  App shell for all pages, used for rendering header/footer and dynamic page content
}}

<div data-component="app-root">
  {{> layout/header }}

  <div class="wrapper">
    <h1>{{title}}</h1>

    <div class="content">
      {{#each blocks}}
        {{> (lookup . 'name') data }}
      {{/each}}
    </div>
  </div>

  {{> layout/footer }}
</div>
