<link rel="stylesheet" href="./app.scss">
<script src="./App.ts"></script>

{{!
  App shell for all pages, used for rendering header/footer and dynamic page content
}}

<div data-component="app-root">
{{#each blocks}}
  {{> (lookup . 'name') data }}
{{/each}}
</div>
