<link rel="stylesheet" href="./two-col.scss">

<div data-component="two-col">
  {{#with left}}
  <div class="col col-left">
    <h3>{{title}}</h3>
    <p><img src="" alt="">{{{content}}}</p>
  </div>
  {{/with}}

  {{#with right}}
  <div class="col col-right">
    <h3>{{title}}</h3>
    <p><img src="" alt="">{{{content}}}</p>
  </div>
  {{/with}}
</div>
