<link rel="stylesheet" href="./two-col.scss">

<div class="component-two-col">
	<div class="col col-left">
		<h3>{{left.title}}</h3>
		<p>{{left.content}}</p>
	</div>

	<div class="col col-right">
		<h3>{{right.title}}</h3>
		<p>{{right.content}}</p>
	</div>
</div>
