.component-two-col {
	margin-bottom: 30px;
	font-size: 0;

	.col {
		width: 50%;
		display:inline-block;
		font-size: 1rem;
		padding-right: 40px;
		box-sizing: border-box;
		vertical-align: top;
	}
}
