@import '~normalize.css';
@import '~seng-scss';

/* Globally available project specific mixins, functions and variables */
@import 'global';

@import './type/font';

// Generic stuff

.hidden {
  display: none;
}
